
.App {
  margin: 20px auto;
  width: 100%;
  max-width: 800px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.App h1 {
  font-size: 6rem;
  font-weight: bold;
  margin: 20px;
}


.smurf-list {
  font-size: 2.4rem;
  margin: 20px;
}

.smurf {
  margin: 10px;
  padding: 5px;
  min-width: 260px;
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.smurf h3 {
  font-size: 2rem;
  margin: 5px;
}

.smurf p {
  font-size: 1.8rem;
  margin: 5px;
}

.smurf button {
  margin: 5px;
}

.add-smurf {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-smurf h3 {
  font-size: 2.4rem;
  margin: 5px;
}

.add-smurf input {
  margin: 5px;
  font-size: 1.8rem;
}

.add-smurf button {
  margin: 5px;
  font-size: 1.8rem;
}

